# ignore these files
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

# but not these files
!/vendor/frozennode/administrator/src/config/administrator.php
!/vendor/moltin/cart/src/Moltin/Cart/Cart.php