nav .button {
      border: 0;
      background: #DC143C;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      font-size: 0.75em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
    }
    nav .button:hover {
      background: #8B0000;
      color: white;
    }
    nav .button:active {
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
      background: #e78129;
    }     

.box {
	position: relative;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	margin-top: 15px;
	margin-bottom: 15px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 25px;
}

.mainImg {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

/*http://www.surfingsuccess.com/css/css-sticky-footer.html#.UxeHm-ddWLg*/
.stickyFooter {
     position: fixed;
     bottom: 0px;
     width: 100%;
     overflow: visible;
     z-index: 99;
     padding-top: 5px;
     padding-bottom: 3px;
     background: white;
     border-top: solid white 2px;
     /*background-color: #89D4DF;*/
     -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
     box-shadow: 0px -5px 15px 0px #bfbfbf;
     height: 90px;
}

#stickyHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: visible;
  z-index: 99;
  padding-top: 9px;
  padding-bottom: 3px;
  border-bottom: solid white 2px;
  background-color: #55bcff;
/*  -webkit-box-shadow: 0px 5px 15px 0px #bfbfbf;
  box-shadow: 0px 5px 15px 0px #bfbfbf;*/
  height: 50px;

    z-index: 99;
     padding-top: 5px;
     padding-bottom: 3px;
     background: white;
     border-top: solid white 2px;
     /*background-color: #89D4DF;*/
     -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
     box-shadow: 0px -5px 15px 0px #bfbfbf;


    padding: 10px;
}

.inline {
  display: inline;
}

.center{
  width:960px; 
  margin-left:auto; 
  margin-right:auto;
}

img {
    -webkit-box-shadow: 2px 2px 2px #7C7C7C;
    box-shadow: 2px 2px 2px #7C7C7C;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 

}

.nav-item {
padding-left: 2em;
  /*float: left;*/
}

.nav-login {
  float: right;

}
